#heading-text{
	color: #fff;
}

#overview, #additional-links{
	color: #25262a;
    letter-spacing: .05em;
    font-size: 18px;
}

#additional-links{ 
	font-size: 20px;
 }


.block-38-body p{
	color: #000;
	text-align: justify;
}

.block-38-body p b{
	color: #7971ea;
}

#site-top{
	padding-top: 40px;
}

#site-section{
	margin-top: 30px;
}

.geo-add-link{
	padding-top:0px; 
}

#geo-links{
	margin-left: 10%;
	margin-right: 10%;
}

.geo-page{
	padding-top: 40px;
}

#geo-brief{
	padding-left: 10%;
	padding-right: 10%;
}

#map{

}

.population-button{
	margin:auto;
	text-align: center;
	margin-top: 0px;S

}

#population-title{
	margin-bottom: 20px !important;
}

#tutorial-box{
	height: 400px;
}

.populated-map{
	margin-left: 10%;
	margin-right: 10%;

}

#tutorial-img{
	height: 150px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#tutorial-text{
	margin-top: 20px;
	padding-top: 50px;
}


.weather-row{
	margin-left: 10%;
	margin-right: 10%;

}

#weather-header{
	margin-top: 40px;
}


