#heading-text{
	color: #fff;
}

#overview{
	color: #25262a;
    letter-spacing: .05em;
    font-size: 18px;
}

.block-38-body p{
	color: #000;
	text-align: justify;
}

.block-38-body p b{
	color: #7971ea;
}



